* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

li {
    list-style: none;
}

.mx-10 {
    margin: 10px 0;
}

.ta-c {
    text-align: center;
}

.some {
    background-color: rgba(255, 255, 255, 0.0);
    color: rgba(255, 255, 255, 0.0);
}

#subtitle {
    text-align: center;
    margin: 20px 0 15px;
    font-size: 2rem;
    text-transform: uppercase;
}

.container {
    display: flex;
}

.nav-list,
.content,
section {
    border: 2px solid red;
}

.nav-list {
    width: 20%;
    padding: 1%;
}

.content {
    width: 80%;
    padding: 1%;
}

.tachado {
    text-decoration: line-through;
}

.comandos {
    background-color: rgba(180, 180, 180, 0.8);
    border-radius: 2px;
    display: inline-block;
    margin: 0 auto;
    padding: 4px 10px;
    border: 1px solid black;
}

.flexy {
    display: flex;
    flex-direction: column;
}

